/* design.css */


html, body {
  height: 100%;
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

.background-login {
  background-color: rgb(223, 205, 182) !important;
}

.background-status {
  background-color: rgb(6, 252, 88) !important;
}

.fontheadpage {
  font-size: 60px;
}

.fontstudentpage-signed {
  font-size: 17px;
}

.custom-datepicker {
  width: 865px;
}

.custom-datepicker .react-datepicker__input-container {
  width: 865px;
}

.custom-datepicker .react-datepicker__input-container input {
  width: 865px;
  padding: 6px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}



